* {
    margin: 0;
    padding: 0;
    border: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    border: 1px solid rgb(67, 60, 60);
}

