* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    padding: 2rem;
    border: 1px solid rgb(67, 60, 60);
}

.box:hover {
    background-color: grey;
}